

.box-about{
    width: 80%;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.box-about h2{
    font-size: 50px;
    color: #ffa95d;
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
}

.box-about p{
    color: black;
}
