header{
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    background-color: rgb(32, 32, 32);
}

.box-content-header{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box-header-img{
    height: 400px;
    width: 400px;
}
.box-tittle-header{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-tittle-header h1{
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #ffa95d;
}
.box-tittle-header h2{
    width: auto;
    font-size: 30px;
    color: #ffffff;
}

@media (max-width:780px) {
    .box-tittle-header h1{
        font-size: 40px;
    }
    .box-tittle-header h2{
        font-size: 25px;
    }
    .box-header-img{
        height: 100%;
        width: 100%;
    }

}



