nav {
    background-color: rgba(32, 32, 32, 0.445);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
}
.box-content-nav{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-family: 'Black Ops One', cursive;
}
.box-content-nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.box-content-nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.box-content-nav h2{
    font-size: 40px;
    color: white;
    font-weight: 400;
}

@media (max-width:780px) {
    .box-content-nav .main-ul{
        display: none;
    }
}